section{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  gap: 10px;
}
#word-cloud{
    height: 100vh;
    width: 100vw;
    margin:  5px auto;
    padding-top: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}
th, td {
  padding: 10px;
}
html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}
tbody tr:nth-child(odd) {
  background-color: #ff33cc;
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}

table {
  background-color: #ff33cc;
}
.tav{
  padding-left: 20px;
}
thead th, tbody tr {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 3px solid purple;
}
caption {
  font-family: 'Rock Salt', cursive;
  padding: 10px;
  font-style: italic;
  color: #666;
  font-size: 20px;
  color: rgba(255, 0, 0, 0.5);
}
